<%= form_tag(weather_api_path, :method => "get") do %>  
  <%= search_field_tag :search, params[:search], placeholder: "Arama yap"%>  

<% end%>

<%@name = @json["name"]%>

<h1><%= @name.upcase %></h1>
<%@main = @json["main"]%>
<%@temp = @main["temp"]%>
<%@d=@temp.to_i-273%>

<div>Sıcaklık => <%=@d.to_s+" °C" %></div>
<%@wind = @json["wind"]%>
<%@speed = @wind["speed"]%>
<div>Rüzgar hızı => <%=@speed.to_s+" km/s" %></div>
<%@humidity = @main["humidity"]%>
<div>Nem => <%=@humidity.to_s+" % RH"%></div>




